
#container{
    margin: 10px;
}

label{
    width: 100%;
    display:block;
}

.task{
    border:1px solid gray;
    background-color: cornflowerblue;
    color: white;
    margin:15px;
    padding: 10px;
    border-radius: 5px;
}

.task p{
    font-size: 1.25rem;
}


.taskComplete{
    float: right;
}