

.task{
    border:1px solid gray;
    background-color: cornflowerblue;
    color: white;
    margin:25px;
    padding: 20px;
    border-radius: 5px;
}

.task p{
    font-size: 1.25rem;
}


.taskComplete{
    float: right;
}